.block{
    width: 1512px;
    height: 482.07px;
    opacity: 100%;
    background-color: #201f1f;
    color:#FFFFFF;
}
#box1{
    width: 170px;
    height: 75px;
    font-family: 'interVariable';
    font-weight: normal;
    font-size: 15px;
    text-align: left;
}

#bold{
 font-family: 'interVariable';
    font-weight: bold;
    font-size: 18px;
}
#log{
    width: 288px;
    height: 61px;
    opacity: 100%;
    margin-left: -200px;
}
#info{
    width: 95.88px;
    height: 20.95px;
    margin-right: -110px;
}
#full{
    width: 88%;
}