.outer{
 background: linear-gradient(to bottom, 
  #D9D9D9,#E2F6F6);
 height: 100%;
 width: 100%;
 margin: 0%;
 padding: 0%;
 padding-right: 0%;
 margin-bottom: 0%;
 overflow-x: hidden;
}
#msg{
  height: 58px;
  width: 58px;
  
}