#logo{
  height:53px;
  width: 253px;
}
#first{
  height:19px;
  width:45px;
  color: #4e4e4e;;
   font-size: 16px;
  font-weight: normal;
  font-family: 'interVariable';
opacity: 100%;
}
#second{
  height:19px;
  width:87px;
  opacity: 100%;
  color: #4e4e4e;;
   font-size: 16px;
  font-weight: normal;
  font-family: 'interVariable';
}
#third{
  height:28px;
  width:102px;
  opacity: 100%;
  color: #010101;
  border: 0.7px #17BAB5 solid;
  border-radius: 10px;
   font-size: 16px;
  font-weight: normal;
  font-family: 'interVariable';
}
#third:hover{
  height:34px;
  width:102px;
  opacity: 100%;
  color: #010101;
  border: 0.7px #17BAB5 solid;
  border-radius: 5px;
   font-size: 16px;
  font-weight: normal;
  font-family: 'interVariable';
}
#fourth{
  height: 19px;
  width:89px;
  opacity: 100%;
  color: #4E4E4E;
   font-size: 16px;
  font-weight: normal;
  font-family: 'interVariable';
}
#five{
  height:19px;
  width:51px;
  opacity: 100%;
  color: #4E4E4E;
   font-size: 16px;
  font-weight: normal;
  font-family: 'interVariable';
}
#sixth{
  height:19px;
  width:73px;
  opacity: 100%;
  color: #4E4E4E;
   font-size: 16px;
  font-weight: normal;
  font-family: 'interVariable';
}
#btn{
  background-color:black;
  color:#FFFFFF;
  height:47px;
  width: 143px;
  margin-top: -10px;
  font-family:'InterVariable';
  font-size: 16px;
  font-weight: normal;
  border:2px black solid;
  border-radius: 10px;
}
#btn:hover{
  background-color: antiquewhite;
  color:black;
}
