#item{
    height: 100vh;
}
#headline{
    max-width: 100%;
    width: 352px;
    height: 30px;
    opacity: 100%;
    font-family: 'Varela Round', sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #201F1F;
}
#dot{
    width: 68px;
    height: 3px;
    margin-top:-20px;
}
#desc{
       width: 895px;
    height: 65px;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 15px;
    color: #696969;
}